
.idea/dataSources/cb0e8e4c-2c41-4b2f-bde3-08c17102140b/storage_v2/_src_/database/Gruppe3_HMS.Z6n6HQ/schema/information_schema.FNRwLQ.meta

.idea/dataSources/cb0e8e4c-2c41-4b2f-bde3-08c17102140b/storage_v2/_src_/database/Gruppe3_HMS.Z6n6HQ/schema/pg_catalog.0S1ZNQ.meta

.idea/dataSources/cb0e8e4c-2c41-4b2f-bde3-08c17102140b/storage_v2/_src_/database/Gruppe3_HMS.Z6n6HQ/schema/public.abK9xQ.meta

.idea/dataSources/data_sources_history.xml

.idea/
